* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* ana grid yapısı*/
.container {
  display: grid;
  grid-template-areas:
    "left nav"
    "left main"
    "left footer";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 10% 90%;
  width: 100%;
  height: 100vh;
}
/* ana grid yapısı bitis */

/* sol panel icin css baslangic */

.left-side {
  grid-area: left;
  height: 100%;
  background-color: #162c41;
  z-index: 1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.795);
}

.left-side h1 {
  text-align: center;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 20px;
}

.side-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 60px);
  margin-top: 50px;
  text-align: center;
}

.side-links ul {
  list-style-type: none;
}

.side-links div {
  border-bottom: 2px solid #fff;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.side-links a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

/* sol panel icin css bitis */

/* navbar css kısmı baslangic */
.nav {
  grid-area: nav;
  width: 100%;
  height: 100px;
  background-color: #23486a;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

.nav-links i {
  font-size: 22px;
  color: #9acbd0;
}

.nav-links ul {
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}

.navlink-5 a {
  border-bottom: 1px solid white;
  color: #9acbd0;
}

/* navbar css kısmı bitis */

/* main icin css kısmı baslangic */

.content {
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: #09122c;
  box-shadow: 0 0 8px rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background-color: #4c7b8b;
  box-shadow: 0 0 8px rgb(0, 0, 0);
  width: 1200px;
  height: 600px;
  border-radius: 20px;
}

.form-grid {
  text-align: center;
  margin-top: 70px;
}

.input-box {
  outline: 0;
  border: 0;
}

.form button {
  height: 52px;
  width: 50%;
  background-color: #18bd5b;
  border-color: #18bd5b;
  color: #fff;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.form :where(.input-box input) {
  height: 50px;
  width: 50%;
  outline: none;
  border: 1px solid #c9c9c9;
  margin-top: 8px;
  border-radius: 4px;
  padding: 0 12px;
  font-size: 1rem;
}

.head {
  text-align: center;
  padding-top: 20px;
  color: #fff;
  padding-bottom: 20px;
}

/* main icin css kısmı bitis */

/* footer baslangic */
.footer {
  grid-area: footer;
  width: 100%;
  height: 100px;
  background-color: #23486a;
  color: #fff;
  font-size: 24px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.705);
}

.footer-desc {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

/* footer bitis */
